# YOLO Ultralytics Core (Updated for YOLO26 Architecture)
ultralytics

# Heavy GPU PyTorch 
# (By default pip fetches the latest CUDA-compiled binaries on Linux environments)
torch
torchvision
torchaudio
